<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>663236938626-5e9bjmnpvgc5h4llo2h6bcolnh0l609r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663236938626-5e9bjmnpvgc5h4llo2h6bcolnh0l609r</string>
	<key>API_KEY</key>
	<string>AIzaSyDB5fAESbeMmkLgZo_H8JUU0XzHv6bdais</string>
	<key>GCM_SENDER_ID</key>
	<string>663236938626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atilsamancioglu.Instagram-Clone-with-Firebase</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-with-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-with-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:663236938626:ios:85f37ce71c102c98</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-clone-with-firebase.firebaseio.com</string>
</dict>
</plist>